@import '../styles/variables';

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  &.report-body {
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+100 */
  background: white;

  .container {
    width: calc(100%);
    height: calc(100% - 100px);
    position: relative;
    overflow: auto;
    padding: $pad3;

    @media screen and (max-width: $break-small) {
      height: calc(100% - 52px);
    }
  }
}
